# Flash unlock addresses
set ROM_AAAA 0x0000AAAA
set ROM_5554 0x00005554

proc flash_sector_erase {sector_addr} {
    global ROM_AAAA ROM_5554

    echo "Erasing sector at $sector_addr"

    mwh $ROM_AAAA 0x00AA
    mwh $ROM_5554 0x0055
    mwh $ROM_AAAA 0x0080
    mwh $ROM_AAAA 0x00AA
    mwh $ROM_5554 0x0055
    mwh $sector_addr 0x0070

    # Poll until erased
    while {1} {
        mem2array val 16 $sector_addr 1
        if {$val(0) == 0xFFFF} {
            break
        }
        sleep 1
    }
}

proc flash_word_program {addr value} {
    global ROM_AAAA ROM_5554

    mwh $ROM_AAAA 0x00AA
    mwh $ROM_5554 0x0055
    mwh $ROM_AAAA 0x00A0
    mwh $addr $value

    # Poll until programmed
    while {1} {
        mem2array val 16 $addr 1
        if {$val(0) == $value} {
            break
        }
        sleep 1
    }
}

proc flash_program_from_ram {ram_addr flash_addr size} {
    set offset 0

    while {$offset < $size} {
        mem2array v 16 [expr {$ram_addr + $offset}] 1
        flash_word_program [expr {$flash_addr + $offset}] $v(0)
        incr offset 2
    }
}