# Adapter: Olimex ARM-USB-OCD-H
adapter driver ftdi
ftdi vid_pid 0x15ba 0x002b
ftdi layout_init 0x0d08 0x0f1b
ftdi layout_signal nTRST -data 0x0200
ftdi layout_signal nSRST -data 0x0100
adapter speed 0

transport select jtag

# Target: ARM7TDMI
set _CHIPNAME arm7
set _ENDIAN little

jtag newtap $_CHIPNAME cpu -irlen 4 -ircapture 0x1 -irmask 0xf
target create $_CHIPNAME.cpu arm7tdmi \
    -endian $_ENDIAN \
    -chain-position $_CHIPNAME.cpu

reset_config trst_and_srst separate srst_push_pull

arm7_9 dcc_downloads enable
